@model IEnumerable<Week9Lab.Models.PostIndexVM>

@{
    ViewBag.Title = "Twitter";
}

<p>
    <a href="http://localhost:61247/Posts/Create">
        <img height="100" width="100" src="~/Content/twitterbird.png" />
    </a>
</p>

 <div>Tweet Away!</div>
<table class="table">
   

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Message)
              
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
                @using (Html.BeginForm("Follow", "Posts"))
                {

                    <input type="submit" value="Follow" />

                }  
                @using (Html.BeginForm("UnFollow", "Posts"))
                {

                    <input type="submit" value="Unfollow" />

                }  
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedOn)
            </td>

        </tr>
    }

</table>
